* {
    font-family: Arial, sans-serif;
}

.mainDiv {
    margin: 0 30%;
    margin-top: 4rem;
    border: 1px solid;
    width: 40rem;
    height: 40rem;
    padding: 0 1.5rem;
    border-radius: 0.5rem;
    z-index: 10000;
    position: fixed;
    top: 45%;
    left: 20%;
    transform: translate(-50%, -50%);
    background-color: lightgray;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */

}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head {
    margin-bottom: 0;
}

.radio {
    margin-right: .5rem;
}

.tasknameInput {
    height: 1.2rem;
    width: 10rem;
}

.para {
    margin-left: 2.7rem;

}

.des {
    /* margin-top: 1rem; */
    margin-bottom: 0;
    display: flex;
    align-items: center;
}
.activity{
    display: flex;
    align-items: center;
    margin-top: 8rem;
}
.username {
    border: 1px solid;
    border-radius: 50%;
    /* background-color: blue; */
    background-color: rgb(0, 217, 255);
    padding: .3rem;
}

.paraTwo {
    margin-left: 2.7rem;
    width: 25rem;
    height: 5rem;

}

.secondInputBox {
    margin-left: .8rem;
    width: 25rem;
    height: 1.8rem;
}

.inputDiv {
    margin-left: .4rem;
    height: 5rem;
    margin-bottom: 5rem;

}

.firstInputBox {

    width: 35rem;
    height: 6rem;
    margin-left: 2.3rem;

}
.buttons{
    margin-left: 2.3rem;
}
.description{
    margin-left: 2.3rem;
}

.TimeNName{
    list-style: none;
    
    background-color: rgb(250, 251, 252);
    border-color: rgb(223, 225, 230);
    color: rgb(9, 30, 66);
    cursor: pointer;
    border-radius: 1rem;
    border-width: 2px;
    border-style: solid;
    box-sizing: border-box;
    font-size: 14px;
    transition: background-color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s;
    line-height: 1.42857; 
    padding: 8px 6px;
    margin-bottom: 0.5rem;
    /* height: 36px; */
}
    .TimeNName:hover{
        background-color: rgb(235, 236, 240);
    }
    .TimeNName:focus{
        background-color: rgb(255, 255, 255);
        border-color: rgb(76, 154, 255);
    }

