.todoTasks{
    /* border: 1px solid red; */
    width: 100%;


}
.card{
    color: #ffffff;
    display: flex;
    background-color: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  height: auto;
  gap: 1rem;
  flex-direction: row;  
  justify-content: space-between;
  overflow-wrap: anywhere;
  }


.addCard{
    border: 1px solid blue;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    padding: 16px;
    margin-bottom: 16px;
    margin-left: 10px;
    width: 18rem;
    height: auto;
    gap: 1rem;
    /* min-width: 50rem; */
}
.taskLists{
    list-style: none;
    font-size: large;
    border-radius: 10px;
    margin: 0.5rem;
    background: #ffffff;
    border: 2px solid rgb(221, 221, 221);
    padding-left: 1rem;
    min-height: 3.1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* max-width: 22rem; */
    overflow-wrap: anywhere;
}
.icon_btn{
    display: flex;
    z-index: 5;
    margin: 5px;
    position: absolute;
    /* height: 2rem;
    width: 5rem; */
    border: 1px solid;

    left: 29em;
}

.taskLists:hover{
    background: #e2e2e2;
}