.todoTasks{
    /* border: 1px solid red; */
    width: 100%;


}
.taskLists{
    list-style: none;
    font-size: large;
    border-radius: 10px;
    margin: 0.5rem;
    background: #ffffff;
    border: 2px solid rgb(221, 221, 221);
    padding-left: 1rem;
    /* min-height: 0rem; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 22rem;
    text-overflow: ;
}

.taskLists:hover{
    background: #e2e2e2;
}