body{
    background-image: url("https://todosmagazinetampa.com/images/layerslider/Todos-Magazine/bg.jpg") ;
    margin: 0;
    padding: 0; 
    background-repeat: no-repeat ;
    background-size: cover ;
    
}