body{
    /* background-image: url("https://img.freepik.com/free-photo/bright-sunset-illuminates-ancient-forest-trail-generated-by-ai_188544-10316.jpg?w=900&t=st=1684008785~exp=1684009385~hmac=9f10585aa553facc003f478b694c67a98b8af38cc35482f5bc3cb89add6f71d1" ) ; */
    margin: 0;
    padding: 0; 
    background-repeat: no-repeat ;
    background-size: cover ;
    
}